.u-section-1 .u-sheet-1 {
  min-height: 400px;
}
.social-share {
  display: flex;
  gap: 10px;
}

.social-share a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;
}

.linkedin {
  background-color: #0077b5;
}

footer p {
  margin: 5px 0; /* Ajuste as margens conforme necessário */
  font-size: 14px; /* Tamanho da fonte */
  color: #ffffff; /* Cor do texto */

}